# saved model and results
*.h5
*.png
simulation_results/tensorboard/**
simulation_results/figures/**
simulation_results/raw_data/**
**/logs/**

# cache
**/*__pycache__*/**

# sim data
# *.npy
*.pkl

# Other files
.ipynb_checkpoints/**
*.ipynb